.container{
    display: flex;
    justify-content: space-between;
    margin-top: 4rem;
    padding-bottom: 1.5rem;
    font-weight: bold;
    font-size: 0.875rem;
}

aside{
    display: flex;
    gap:0.5rem;
}

aside span{
    background-color: var(--gray-400);
    color: var(--gray-100);
    border-radius: 10px;
    padding: 0 0.5rem;
    font-size: 0.75rem;
}

aside:first-child{
    color:var(--blue-300);
}


aside:last-child{
    color:var(--purple-300);
}
